
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
/* Buat Variabel color buat diakses sepanjang web*/
:root {
    --navbar-color: #000;
    --title-color:#ffff;
    --primary-color:   #F3F1F5;
    --secondary-color: #343A40;
    --support-color: #BE9FE1;
    --card-color: #343A40;
  }

.dark-theme{
    --navbar-color: #ffff;
    --title-color: #000;
    --primary-color: #5C5470;
    --secondary-color: #352F44;
    --support-color: #FBCFFC;
    --card-color: #F3F1F5;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
/* responsive */
@media screen and (max-width: 700px) {
      .navbar{   
       flex-direction: column;
      }
  
      .logo{
          display: none;
      }
  
      .judul{
          text-align: center;
      }
  
      .about-desc{
          text-align: center;
      }
  
      .image{
          display: none;
      }
  
      .menu-items{
          display: inline-block;
      }
  
      .about-img{
          display: none;
      }
  
      .content-card{
          flex-direction: column;
          align-items: center;
      }

   
  }
  
  
  body {
    font-family: 'Poppins', sans-serif; 
    background-color: var(--primary-color);
    margin: 0;
  }

  main {
    background-color: var(--primary-color);
  }
  
  /* Navigator bar */
  .navbar {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--primary-color) ;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px 20px;
  }
  
  .navbar a {
    color:var(--navbar-color);
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
  }
  
  .logo .img{
      width: 85px;
  }

  #icon{
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  
    .menu-items {
        display: flex;
        align-items: center;
    }
  
  /* pergantian warna saat kursor diatasnya */
  .menu-items a:hover {
    background-color: var(--support-color);
  }
  
  /* Body */

  /* Home */
  .home{
      margin: 10px 44px;
      display: flex;
      justify-content: space-evenly;
      height: 90vh;
      align-items: center;
      overflow: hidden;
  
    }

  
  .judul h1{
      font-size: 33px;
      color: var(--secondary-color);
  }
  .judul h1 span{
      color: var(--support-color);
  }
  
  .judul h3{
  
      font-size: 25px;
      color: var(--secondary-color);
  }
  
  .judul-button-adoption{
      padding: 15px 25px;
      background-color: var(--secondary-color);
      color: #fff;
      border: none;
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s ease; 
  }
  
  .judul-button-donation{
      padding: 15px 25px;
      background-color: var(--support-color);
      color: var(--secondary-color);
      border: none;
      border-radius: 5px; 
      cursor: pointer; 
      transition: background-color 0.3s ease; 
  }
  /* Change the button color on hover */
  .judul-button-adoption:hover {
      background-color: var(--support-color); /* New background color on hover */
  }
  
  .judul-button-donation:hover {
      background-color: var(--secondary-color); /* New background color on hover */
      color: var(--primary-color);
  
  }
  
  /* Content */
  .content{
      min-height: 500px;
      padding: 20px 0;
      background-color: var(--primary-color);
      padding-top: 10px;
  }
  
  
  .content-title{
      text-align: center;
      margin-bottom: 25px;
  }
  
  .content h1{
      color: var(--secondary-color);
  }
  
  .content h4{
      color: var(--secondary-color);
      letter-spacing: 5px;
  }
  
  .content-card{
      display: flex;
      justify-content: space-evenly;
  }
  
  .card {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid #ccc; 
      border-radius: 15px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      padding: 15px; 
      background-color: var(--card-color);
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
  
  }
  .card .btn{
    margin-top: 40px;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #C9B6E4;
    color: #C9B6E4;
    background-color: transparent;
    appearance: none;
    transition: all .3s ease-in-out;
    display: none;

  }
  .btn:hover{
    background-color: #BE9FE1;
    color: white;
    border: 2px solid #BE9FE1;

  }
  
  .card-title {
      color: var(--primary-color);
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      line-height: 1.0;
  }
  
  .card-img {
      width: 150px; 
      height: 150px;
      border-radius: 15%; 
      overflow: hidden;
      border: #DFCCFB solid 5px;
  }
  
  .card-img img{
      width: 150px; 
      height: 150px;
  
  }
  
  .card:hover {
      transform: scale(1.05); 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  

  
  
  
  /* About Us */
  .about-us{
      display: flex;
      justify-content: space-evenly;
      height: 80vh;
      align-items: center;
      background-color: var(--secondary-color);
  }
  
  .about-desc{
      color: var(--title-color);
  }
  
  .about-desc h1{
      color: var(--support-color);
  }
  
  .about-img {
      width: 200px; 
      height: 200px;
      border-radius: 20%; 
      overflow: hidden; 
  }
  
  .about-img img{
      width: 200px; 
      height: 200px;
  }

/* Gaya untuk teks hitam */
.black-text {
    color: var(--title-color);
  }
    
  /* Footer */
  .site-footer{
      height: 20vh;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .footer-content ul{
      text-align: center;
      padding: 15px 0px;
  }
  
  .footer-content a{
      text-decoration: none;
      padding: 0 15px;
      color: var(--navbar-color);
      font-weight: lighter;
      font-weight: bold;
      transition: .4s;
      font-size: 18px;
  }
  
  .footer-content p{
      font-size: 16px;
      
  }
  
  .footer-content li{
      display: inline;
      padding: 15px 0px;  
  }
  
  .footer-content a:hover {
      box-shadow: 0 2px 0 var(--secondary-color);
  }
  
  
  